In [4]:
import os
import pandas as pd

In [5]:
filename = "test.txt"
path = os.path.join("data", filename)
print(path)
pd.read_csv(path)

data\test.txt

   Selection of peope that dont exist:
0                    First Name: Lenny
1                     Last Name: Davis
2                         Gender: Male
3                              Age: 23
4        Email: l.davis@randatmail.com
5                   Phone: 345-6339-68
6                First Name: Frederick
7                    Last Name: Turner
8                         Gender: Male
9                              Age: 29
10      Email: f.turner@randatmail.com
11                  Phone: 752-2013-74
12                 First Name: Miranda
13                  Last Name: Bennett
14                      Gender: Female
15                             Age: 24
16     Email: m.bennett@randatmail.com
17                  Phone: 317-2147-36

In [53]:
# Write function to safe key value pairs from a text file to a dictionary
def parser():
    with open(path) as f:
        person  = {}
        data = []
        for line in f:
            if(line.startswith("First Name")):
                if(len(person) > 1):
                    data.append(person.copy()) #Achtung, es muss eine Kopie angelegt werden damit das Objekt nicht in Data Ã¼berschrieben wird
            if(": " in line):
                key, value = line.split(": ")
                person[key] = value.replace("\n", "")
        data.append(person)
    return data
    
parser()

[{'First Name': 'Lenny',
  'Last Name': 'Davis',
  'Gender': 'Male',
  'Age': '23',
  'Email': 'l.davis@randatmail.com',
  'Phone': '345-6339-68'},
 {'First Name': 'Frederick',
  'Last Name': 'Turner',
  'Gender': 'Male',
  'Age': '29',
  'Email': 'f.turner@randatmail.com',
  'Phone': '752-2013-74'},
 {'First Name': 'Miranda',
  'Last Name': 'Bennett',
  'Gender': 'Female',
  'Age': '24',
  'Email': 'm.bennett@randatmail.com',
  'Phone': '317-2147-36'}]